---

import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div>
		<div>
			<h1>
				Hello
			</h1>
			<p>This is a template for a basic blog using <a href="https://astro.build">Astro</a>.</p>
			</div>
		<div></div>
	</div>
</Layout>
