---
import Layout from "../layouts/Layout.astro";
import { Code } from "astro:components";
---

<Layout>
    <div>
        <h1>Lineas, polilineas y poligonos</h1>

        <h2>Línea</h2>
        <h3>SVG</h3>
        <Code
            code={`<svg width="600" height="400">
                <line
                    x1="100"
                    y1="200"
                    x2="500"
                    y2="200"
                    stroke="#742748"
                    stroke-width="40"
                    stroke-linecap="round"></line>
                <line x1="100" y1="200" x2="500" y2="200" stroke="white"></line>
                <line x1="100" y1="0" x2="100" y2="400" stroke="blue"></line>
                <line x1="500" y1="0" x2="500" y2="400" stroke="blue"></line>
            </svg>`}
            lang="html"
        />
        <h3>Resultado</h3>
        <svg width="600" height="400">
            <line
                x1="100"
                y1="200"
                x2="500"
                y2="200"
                stroke="#742748"
                stroke-width="40"
                stroke-linecap="round"></line>
            <line x1="100" y1="200" x2="500" y2="200" stroke="white"></line>
            <line x1="100" y1="0" x2="100" y2="400" stroke="blue"></line>
            <line x1="500" y1="0" x2="500" y2="400" stroke="blue"></line>
        </svg>

        <h2>Polilíneas</h2>
        <h3>SVG</h3>
        <Code
            code={`<svg width="600" height="400">
                <polyline
                    points="100,300 150,300 150,250 200,250 200,200 250,200 250,150 300,150 300,100 350,100 350,50 400,50 "
                    fill="none"
                    stroke="#742748"
                    stroke-width="4"></polyline>
            </svg>`}
            lang="html"
        />

        <h3>Resultado</h3>
        <svg width="600" height="400">
            <polyline
                points="100,300 150,300 150,250 200,250 200,200 250,200 250,150 300,150 300,100 350,100 350,50 400,50 "
                fill="none"
                stroke="#742748"
                stroke-width="4"></polyline>
        </svg>

        <h2>Polígonos</h2>
        <h3>Estilos</h3>
        <Code
            code={`<svg width="600" height="400">
                <polygon
                    points="100,300 150,300 150,250 200,250 200,200 250,200 250,150 300,150 300,100 350,100 350,50 400,50 "
                    fill="none"
                    stroke="#742748"
                    stroke-width="4"></polygon>
    
                    <polygon
                    points="150,55 200,55 225,80 225,130 175,130 175,180 125,180 125,130 75,130 75,80 100,55"
                    class="ejemplo"></polygon>
            </svg>`}
            lang="html"
        />

        <h3>Resultado</h3>
        <svg width="600" height="400">
            <polygon
                points="100,300 150,300 150,250 200,250 200,200 250,200 250,150 300,150 300,100 350,100 350,50 400,50 "
                fill="none"
                stroke="#742748"
                stroke-width="4"></polygon>

                <polygon
                points="150,55 200,55 225,80 225,130 175,130 175,180 125,180 125,130 75,130 75,80 100,55"
                class="ejemplo"></polygon>
        </svg>
    </div>
</Layout>

<style>
    svg {
        border: 1px solid black;
    }
</style>
